body {
    margin: 0;
    text-align: center;
}
h1 {
    /* width:10%; */
    /* margin: 0 auto; */
    margin-top: 0px;
    /* margin-left: 0;
    margin-right: 0;    */
}
div {
    width: 100%;
    /* height: 200px; */
}
.top-container {
    padding-top: 100px;
    background-color: #fafdcb;
    position: relative;
}
.middle-container {
    background-color: #aee7e8;
    height: 200px;
}
.bottom-container {
    background-color: #28c3d4;
    height: 200px;
}
.pro {
    text-decoration: underline;
}
.top-cloud {
    position: absolute;
    top: 50px;
    right:20%;
}
.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left:22%;
}
